<div>
    <app-unsubscribe-form *ngIf="(!_activeRoute.snapshot.params['id'] || isValidId == false) && isUnSubscribed == false"
        (unsubscribeEmitter)="onUnsubscribeEmail($event)"></app-unsubscribe-form>
    <app-unsubscribe-id *ngIf="_activeRoute.snapshot.params['id'] && isValidId == true && isUnSubscribed == false"
        [email]="email" (unsubscribeEmitter)="onUnsubscribeId()">
    </app-unsubscribe-id>
    <app-confirm-unsubscribe *ngIf="isUnSubscribed == true"></app-confirm-unsubscribe>
</div>